body {
    padding: 2rem;
}


ul {
    list-style: none;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    border: 3px solid #777;
    max-width: 900px;
    margin: auto;
}

.grid-item {
    padding: 1rem;
    background-color: rgb(161, 154, 144);
    color: rgb(34, 21, 21);
    border-radius: 3px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}